/* @import linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
  url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */

  /* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* * { */
  /* margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #000000;
  cursor: default;
}

.logo span {
  color: rgb(25, 0, 252);
}

.navigation {
  margin-left: -300px;
}
.navigation a {
  font-size: 1.1em;
  color: #555;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  transition: 0.3s;
}

.navigation a:hover {
  color: rgb(25, 0, 252);
}

.btn-talk {
  color: #fff;
  text-decoration: none;
  padding: 8px 35px;
  background: rgb(25, 0, 252);
  border-radius: 10px;
  border: 2px solid rgb(25, 0, 252);
  font-weight: 500;
  transition: 0.3s;
}

.btn-talk:hover {
  color: rgb(25, 0, 252);
  background: transparent;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)),url('images/prev1.png') no-repeat;
  background-size: cover;
  background-position: fixed;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.bg-image {
  /* position: relative;
  display: flex;
  background-size: cover;
  top: 150px;
  right: -800px;
  max-width: 1000px;
  height: 800px;
  background-color: rgb(25, 0, 252);
  border-radius: 50px;
  overflow-y: hidden;
  clip-path: inset(0 0 21% 0 round 5% 20% 0 10%); */
/* } */

/* .content {
  position: relative;
  max-width: 500px;
  color: #000000;
  height: 50%;
  /* right: 300px; */
/* } */

/* .content h2 {
  font-size: 3em;
}
.content h2 span {
  color: rgb(25, 0, 252);
}
.content h4 {
  font-size: 2em; */
/* } */
/* .content p {
  padding: 10px 0 40px 0;
}
.btn-group a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  background: rgb(25, 0, 252);
  border-radius: 10px;
  border: 2px solid rgb(25, 0, 252);
  font-weight: 500;
  transition: 0.3s;
} */
/* .btn-group a:hover:nth-child(1) {
  color: rgb(25, 0, 252);
  background: transparent;
}
.btn-group a:nth-child(2) {
  color: rgb(25, 0, 252);
  background: transparent;
  margin-left: 30px;
  padding: 10px 30px;
}
.btn-group a:hover:nth-child(2) {
  color: #fff;
  background: rgb(25, 0, 252);
}
.social-icons { */
  /* position: relative;
  bottom: -100px;
}
.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: rgb(25, 0, 252);
  border-radius: 50%;
  margin-right: 22px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #fff;
  outline: 2px solid rgb(25, 0, 252);
  transition: 0.3s;
}
.social-icons a:hover {
  transform: translateY(-5px);
}
.social-icons a i {
  color: #fff;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 70px; */
/* } */

/* .p { */
  /* display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.p p {
  text-align: center;
  justify-content: center;
  font-size: large;
}

.h1 span {
  color: rgb(25, 0, 252);
  font-size: 50px; */

/* } */
